* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 131, 43);
}

.wrapper {
    width: 80vmin;
    padding: 50px 40px;
    background-color: rgb(31, 9, 0);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgba(82, 23, 0, 0.2);
}

span {
    display: block;
    text-align: center;
    font-size: 100px;
}

#joke{
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: monospace;
}