* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 131, 43);
}

.wrapper {
    width: 80vmin;
    padding: 50px 40px;
    background-color: rgb(31, 9, 0);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgba(82, 23, 0, 0.2);
}

span {
    display: block;
    text-align: center;
    font-size: 100px;
}

#joke{
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 400;
    font-family: monospace;
    line-height: 30px;
    word-wrap: break-word;
    margin: 30px 0;
}

#btn {
    display: block;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 600;
    color:rgb(44, 12, 0);
    background-color: rgb(224, 144, 69);
}
